.header{

    background: $bg-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    .menu-primary{

      
    
    }
    .bar{
       @include menu-bar;
        

    }


}