
// variables
$bg-dark: #0F0E11;
$titles: #FFFFFF;


//fuentes
$familyPrimary:  'Bitter', serif;
$familySecuandary:  'Open Sans', sans-serif;


$font-weight-b: bold;
$font-weight-l: 300;

$font-zise: 16px;
$line-height: 25px;
